@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    position: relative; 
    font-family: 'Noto Sans', sans-serif;
}

#navbar {
    position: absolute;
    width: 100%;
    z-index: 1; /* Ensure the Navbar is above the Hero section */
    /* background: #191a2b; Remove the background color */
    background: rgba(25, 26, 43, 0.2); /* Set a transparent background with some opacity */
}

#main{
  background-color: #fff;
}
.footerClass ul li, p{
    font-weight: normal;
}

.slider-item {
    position: relative;    
    
    text-align: center;
    height: 650px; /* Adjust the height as needed */
  }
  
  .slider-item img {    
    width: 100%;
    height: 100%;
    object-fit:cover; /* Maintain aspect ratio and cover the container */
  }
  
  .slider-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
  }