@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    position: relative; 
    font-family: 'Noto Sans', sans-serif;
}

.navHome {
    position: absolute;
    width: 100%;
    z-index: 1; /* Ensure the Navbar is above the Hero section */    
    background: rgba(25, 26, 43, 0); /* Set a transparent background with some opacity */    
}

.navHome {
  color: #fff;
}

.navHome .navbar-link:hover {
  color: #7fb33f;
}

.navHome .navbar-link:active,
.navHome .navbar-link:focus {
  color: #dbc3c3; /* Adjust the color as needed */
}

.navOther .navbar-link:hover {
  color: #7fb33f;
}

.navOther .navbar-link:active,
.navOther .navbar-link:focus {
  color: #5f8d28; /* Adjust the color as needed */
}

.navOther {
  position: absolute;
  width: 100%;
  z-index: 1; /* Ensure the Navbar is above the Hero section */
  background-image: linear-gradient(#b8e97b, #ffffff);
}

.navHome .menuItems{
  background-color: #fff;
}

/* #main{
  background-color: #fff;
} */

.footerClass ul li, p{
    font-weight: normal;
}

.slider-item {
    position: relative;    
    
    text-align: center;
    height: 650px; /* Adjust the height as needed */
  }
  
  .slider-item img {    
    width: 100%;
    height: 100%;
    object-fit:cover; /* Maintain aspect ratio and cover the container */
  }
  
  .slider-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
  }